<!-- Contact -->
<div class="mb4">
  <h4 class="f3 b lh-title mb3 tc">Drop us a line below</h4>

  <form name="contact" netlify netlify-honeypot="bork">
    <div class="flex-l mhn1-l">
      <div class="ph1-l w-50-l">
        <fieldset>
          <input name="name" type="text" id="name" placeholder="Name" class="w-100 mb2" required>
          <label for="name">Name</label>
        </fieldset>
      </div>
      <div class="ph1-l w-50-l">
        <fieldset>
          <input name="email" type="email" id="email" placeholder="Email" class="w-100 mb2" required>
          <label for="email">Email</label>
        </fieldset>
      </div>
      <div class="bork">
        <label for="bork">Bork Field</label>
        <input id="bork" name="bork" type="text">
      </div>
    </div>

    <!-- Message -->
    <fieldset>
      <textarea name="message" placeholder="Your message" rows="8" cols="80" id="message" class="w-100" required></textarea>
      <label for="message">Your message</label>
    </fieldset>
        
    <!-- Button -->
    <div class="tc mt2">
      <button type="submit" class="btn w-100 w-auto-ns raise">Submit</button>
    </div>
  </form>
</div>
