<footer class="bg-black ph3 pv4 white">
	<div class="flex-ns justify-between mw7 center pt3 tc">
		<div class="mb3">
			<h3 class="f4 b lh-title mb1 primary">Hostal Cabriales</h3>
			<ul class="mb3 link-menu">
				<li><a href="/" class="link">Home</a></li>
				<li><a href="/services" class="link">Our services</a></li>
				<li><a href="/values" class="link">About</a></li>
				<li><a href="/contact" class="link">Contact</a></li>
			</ul>
		</div>
		
		<div class="mb3">
			<h3 class="f4 b lh-title mb1 primary">Find out more</h3>
			<a class="db" target="blank" href="https://www.tripadvisor.com/Hotel_Review-g285731-d10052041-Reviews-Hostal_Cabriales-Trinidad_Sancti_Spiritus_Province_Cuba.html">
				<picture>
					<source srcset="/img/tripadvisor.webp" type="image/webp"/>
					<img class="trip-advisor-img" width="1501" height="1126" alt="Trip Advisor" src="/img/tripadvisor.png">
				</picture>
			</a>
		</div>
		
		<div class="mb3">
			<h3 class="f4 b lh-title mb2 primary">Social media</h3>
			<ul class="mhn2">
				{{ partial "social-icon" (dict "id" "facebook" "link" "https://www.facebook.com/hostalcabriales") }}
				{{ partial "social-icon" (dict "id" "instagram" "link" "https://www.instagram.com/hostal_cabriales") }}
				{{ partial "social-icon" (dict "id" "twitter" "link" "https://www.twitter.com/HostalCabriales") }}
			</ul>
		</div>
		
	</div>
</footer>

{{ partial "svg" . }}

</body>

</html>
