<head>
  <title>{{ .Title }} | Hostal Cabriales</title>
  <link rel="preload" href="/fonts/nunito-sans-v6-latin-regular.woff2" as="font" type="font/woff2" crossorigin />
  <link rel="preload" href="/fonts/nunito-sans-v6-latin-700.woff2" as="font" type="font/woff2" crossorigin />
  <link rel="stylesheet" href="/css/main.css" />

  <meta charset="utf-8" />
  <meta http-equiv="x-ua-compatible" content="ie=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <meta name="description" content="Hostal Cabriales is a cozy and affordable guest house in Trinidad, Cuba" />

  <!-- Favicons -->
  <link
    rel="apple-touch-icon"
    sizes="180x180"
    href="/img/apple-touch-icon.png"
  />
  <link
    rel="icon"
    type="image/png"
    href="/img/favicon-32x32.png"
    sizes="32x32"
  />
  <link
    rel="icon"
    type="image/png"
    href="/img/favicon-16x16.png"
    sizes="16x16"
  />
  <link rel="manifest" href="/manifest.json" />
  <link rel="mask-icon" href="/img/safari-pinned-tab.svg" color="#ff4400" />
  <meta name="theme-color" content="#fff" />

  <!-- Open Graph -->
  <meta property="og:type" content="business.business" />
  <meta property="og:title" content="Hostal Cabriales" />
  <meta property="og:url" content="/" />
  <meta property="og:image" content="/img/og-image.jpg" />
<!-- Google Tag Manager --> <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
})(window,document,'script','dataLayer','GTM-NBCS4NH2');</script>
<!-- End Google Tag Manager -->
</head>
