<div class="mw7 center ph3 pv4">

	<div class="flex flex-wrap mhn1">
		<div class="flex w-50-ns ph1-ns pv1-ns">
			<img src="{{ .image1.image }}" alt="{{ .image1.alt }}">
		</div>

		<div class="flex w-50-ns ph1-ns pv1-ns">
			<img src="{{ .image2.image }}" alt="{{ .image2.alt }}">
		</div>

		<div class="flex w-100 ph1-ns pv1-ns">
			<img src="{{ .image3.image }}" alt="{{ .image3.alt }}">
		</div>
	</div>

</div>
