<div class="flex-m mhn3-m mb4">

  <div class="ph3-m w-50-m order-last-m">
    <picture>
      <source
        srcset="/img/{{.imageUrl}}-350w.webp 1x, /img/{{.imageUrl}}-600w.webp 2x"
        media="(max-width: 350px)"
        type="image/webp"
      />
      <source
        srcset="/img/{{.imageUrl}}-480w.webp 1x, /img/{{.imageUrl}}-800w.webp 2x"
        media="(max-width: 480px)"
        type="image/webp"
      />
      <source
        srcset="/img/{{.imageUrl}}-600w.webp 1x, /img/{{.imageUrl}}.webp 2x"
        media="(max-width: 600px)"
        type="image/webp"
      />
      <source
        srcset="/img/{{.imageUrl}}-800w.webp 1x, /img/{{.imageUrl}}.webp 2x"
        type="image/webp"
      />
      <img
        decoding="async"
        loading="lazy"
        src="img/{{.imageUrl}}.jpg"
        width="462"
        height="308"
        alt=""
        class="db mb2"
      />
    </picture>
  </div>

  <div class="ph3-m w-50-m">
    <h3 class="f3 b lh-title mb1">{{.heading}}</h3>
    <p>{{.text}}</p>
  </div>

</div>
