{{ $sizes := slice "350" "480" "600" "800" }}
{{ $formats := slice "webp" "jpeg" }}
{{ $extensions := slice "webp" "jpg" }}
{{ $imageUrl := .imageUrl }}
<div class="relative bg-grey-1">
  <picture>
    {{ range $index, $format := $formats }}
      {{ $extension := index $extensions $index }}
      {{ range $size := $sizes }}
        <source
          srcset="{{$imageUrl}}-{{$size}}w.{{$extension}}"
          media="(max-width: {{$size}}px)"
          type="image/{{$format}}"
        />
      {{ end }}
      <source srcset="{{$imageUrl}}-1000w.{{$extension}}" type="image/{{$format}}" />
    {{ end }}

    <img
      decoding="async"
      class="w-100 jumbotron"
      width="480"
      height="500"
      src="{{.imageUrl}}.jpg"
      alt=""
    />
  </picture>
  <div class="jumbotron-text center ph3">
    <div class="db mb3 jumbotron-text-box">
      <div class="mw7 relative bg-fix-primary mb3">
        <h1 class="f2 f1-l b di lh-title mb3 white mw6 bg-primary">
          {{.title}}
        </h1>
      </div>
      <div class="mw7 relative bg-fix-primary">
        {{ if .subtitle }}
        <p class="b f4 di lh-title mb3 white mw6 bg-primary">{{.subtitle}}</p>
        {{ end }}
      </div>
    </div>
  </div>
</div>