<li class="dib ph2 raise">
  <a href="{{.link}}" class="link bg-white black db relative br-100 pa2" aria-label="{{title .id}}">
    <svg width="16px" height="16px" class="db" aria-hidden="true" focusable="false">
      <use xlink:href="#icons-{{.id}}"></use>
    </svg>
  </a>
</li>
