<div class="bg-grey-1 pv4">
  <div class="ph3 mw7 center">
    <div class="flex-l mhn2-l">
      <div class="w-40-l ph2-l">
        <h2 class="f2 b lh-title mb2">{{.heading}}</h2>

        <p>{{.text}}</p>
      </div>

      <div class="w-60-l ph2-l">
        <picture>
          <source
            srcset="/img/about-guests-350w.webp 1x, /img/about-guests-600w.webp 2x"
            media="(max-width: 350px)"
            type="image/webp"
          />
          <source
            srcset="/img/about-guests-480w.webp 1x, /img/about-guests-800w.webp 2x"
            media="(max-width: 480px)"
            type="image/webp"
          />
          <source
            srcset="/img/about-guests-600w.webp 1x, /img/about-guests.webp 2x"
            media="(max-width: 600px)"
            type="image/webp"
          />
          <source
            srcset="/img/about-guests-800w.webp 1x, /img/about-guests.webp 2x"
            type="image/webp"
          />
          <img
            decoding="async"
            loading="lazy"
            src="img/about-guests.jpg"
            width="1024"
            height="576"
            alt=""
            class="mb3"
          />
        </picture>
      </div>
    </div>

    <div class="tc">
      <a href="{{.buttonLink}}" class="btn raise">{{.buttonText}}</a>
    </div>
  </div>
</div>
