/* nunito-sans-regular - latin */
@font-face {
    font-family: 'Nunito Sans';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url('/fonts/nunito-sans-v6-latin-regular.eot'); /* IE9 Compat Modes */
    src: local(Nunito Sans),
         url('/fonts/nunito-sans-v6-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('/fonts/nunito-sans-v6-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
         url('/fonts/nunito-sans-v6-latin-regular.woff') format('woff'), /* Modern Browsers */
         url('/fonts/nunito-sans-v6-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
         url('/fonts/nunito-sans-v6-latin-regular.svg#NunitoSans') format('svg'); /* Legacy iOS */
  }
  
  /* nunito-sans-700 - latin */
  @font-face {
    font-family: 'Nunito Sans';
    font-style: normal;
    font-weight: 700;
    font-display: swap;
    src: url('/fonts/nunito-sans-v6-latin-700.eot'); /* IE9 Compat Modes */
    src: local(Nunito Sans),
         url('/fonts/nunito-sans-v6-latin-700.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('/fonts/nunito-sans-v6-latin-700.woff2') format('woff2'), /* Super Modern Browsers */
         url('/fonts/nunito-sans-v6-latin-700.woff') format('woff'), /* Modern Browsers */
         url('/fonts/nunito-sans-v6-latin-700.ttf') format('truetype'), /* Safari, Android, iOS */
         url('/fonts/nunito-sans-v6-latin-700.svg#NunitoSans') format('svg'); /* Legacy iOS */
  }
  