.link {
  text-decoration: none;
  transition: var(--hover-transition);
  color: inherit;
}

.link-menu li {
  padding-block: 8px;
}

.link:link,
.link:visited {
  transition: color .15s ease-in;
}
.link:hover   {
  transition: color .15s ease-in;
  text-decoration: underline;
}
.link:active  {
  transition: color .15s ease-in;
}
.link:focus   {
  transition: color .15s ease-in;
  outline: 1px dotted currentColor;
}
