::selection {
  background-color: var(--highlight);
}

/* Used in the navbar */
.divider-grey {
  box-shadow: inset 0 -4px 0 var(--grey-1);
  /* Link hover states */
  /* & a {
    transition: var(--hover-transition);
  } */
  & ul a:hover,
  & ul a:focus {
    box-shadow: inset 0 -4px 0 var(--primary);
  }
}

.jumbotron {
  width: 100%;
  height: auto;
  object-fit: cover;
  object-position: center;
  border-radius: 0px;
  display: flex;
  aspect-ratio: 48 / 50;
}

@media (min-width: 600px) {
  .jumbotron {
    aspect-ratio: 8 / 4;
  }
}

@media (min-width: 800px) {
  .jumbotron {
    aspect-ratio: 100 / 35;
  }
}

.jumbotron-text {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: radial-gradient(
    ellipse at center,
    rgba(0, 0, 0, 0) 0%,
    rgba(0, 0, 0, 0) 37%,
    rgba(0, 0, 0, 0.65) 100%
  );
}

@media (min-width: 800px) {
  .jumbotron-text-box {
    min-width: 70vw;
  }
}

.trip-advisor-img {
  width: 200px;
}

img {
  height: auto;
}
